*{
    margin: 0;
    padding: 0;
}

#rectangle{
    border: 1px solid black;
    height: 200px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}